<ion-content>
  <ion-img [src]="displayedImage"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col size='12' class='ion-text-center ion-padding-top'>
        <h2>Sistema de Gestión
          <br />
          de Sellos Electrónicos
        </h2>
      </ion-col>
      <ion-col size='12' class='subtitle-login ion-text-center ion-padding-top'>
        <h1>ESCONDIDA | BHP</h1>
      </ion-col>
      <ion-col size='12' class='ion-text-center ion-padding-top'>
        <ion-button color="success" routerLink='/nfccontainer'>
          Escanear Sello
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>